@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: rgb(180, 194, 202);
  background: linear-gradient(
    45deg,
    rgba(180, 194, 202, 1) 0%,
    rgba(135, 158, 170, 1) 100%
  );
}
